# Mac files
*.DS_Store

# .drawio backup files
*.bkp

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

build/

*.dsYM

# Python virtual environment
.venv/
venv/

# Bytecode / caches
__pycache__/
*.py[cod]

# pre-commit
.pre-commit/            # internal pre-commit cache
