name: CI

on:
  push:
  pull_request:

jobs:
  build-and-test:
    name: Ubuntu - ${{ matrix.build_type }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        build_type: [Debug, Release]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure CMake
        run: |
          cmake -S . -B build \
            -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}

      - name: Build
        run: |
          cmake --build build --config ${{ matrix.build_type }}

      - name: Run tests
        run: |
          ctest --test-dir build \
                --build-config ${{ matrix.build_type }} \
                --output-on-failure
