name: CI

on:
  push:
    branches:
        - main
  pull_request:

jobs:
  format:
    name: Format check
    runs-on: macos-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'
          fetch-depth: 0

      - name: Debug submodules
        run: |
          git submodule status
          ls -R external || true

      - name: Install clang-format
        run: |
          brew update
          brew install clang-format

      - name: Run clang-format check
        run: |
          clang-format --version
          git ls-files '*.cpp' '*.h' | xargs clang-format --dry-run --Werror

  build-and-test:
    name: Build and test - ${{ matrix.build_type }}
    runs-on: macos-latest

    needs: format

    strategy:
      fail-fast: false
      matrix:
        build_type: [Debug, Release]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure CMake
        run: |
          cmake -S . -B build \
            -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}

      - name: Build
        run: |
          cmake --build build --config ${{ matrix.build_type }}

      - name: Run tests
        run: |
          ctest --test-dir build \
                --build-config ${{ matrix.build_type }} \
                --output-on-failure
